<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico" />

    <title>Dashboard Template for Bootstrap</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.1/examples/dashboard/"
    />

    <!-- Bootstrap core CSS -->
    <link
      href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link
      href="https://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css"
      rel="stylesheet"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <style>
    .navbar-custom {
      background-color: blue;
    }
  </style>

  <body>
    <nav
      class="navbar navbar-dark fixed-top bg-secondary flex-md-nowrap p-0 shadow navbar-custom"
    >
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">SMART Service</a>
      <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <!-- <form [formGroup]="formAddAdmin"> -->
    <div class="container-fluid mt-4">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block pointBackgroundColor sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a
                  routerLink="/route-dashboard"
                  routerLinkActive="active"
                  class="nav-link"
                  href="#"
                >
                  <span
                    data-feather="file"
                    class="border border-primary"
                  ></span>
                  <i class="fas fa-user-shield mr-2 ml-2"></i> Admin
                </a>
              </li>
              <li class="nav-item">
                <a
                  routerLink="/route-users"
                  routerLinkActive="active"
                  class="nav-link"
                  href="#"
                >
                  <span
                    data-feather="users"
                    class="border border-primary"
                  ></span>
                  <i class="fas fa-users mr-2 ml-2"></i>Users
                </a>
              </li>
              <li class="nav-item">
                <a
                  routerLink="/route-books"
                  routerLinkActive="active"
                  class="nav-link"
                  href="#"
                >
                  <span
                    data-feather="shopping-cart"
                    class="border border-primary"
                  ></span>
                  <i class="fas fa-address-book mr-2 ml-2"></i>Books
                </a>
              </li>
              <li class="nav-item">
                <a
                  routerLink="/route-new-rent"
                  routerLinkActive="active"
                  class="nav-link"
                  href="#"
                >
                  <span
                    data-feather="bar-chart-2"
                    class="border border-primary"
                  ></span>
                  <i class="fas fa-clipboard mr-2 ml-2"></i> Reports
                </a>
              </li>
            </ul>

            <h6
              class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
            >
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last Month Out Books
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last Wrong Shells
                </a>
              </li>
              <li class="nav-item">
                <a
                  routerLink="/maintaince"
                  routerLinkActive="active"
                  class="nav-link"
                  href="#"
                >
                  <span data-feather="file-text"></span>
                  <i class="fas fa-edit mr-2"></i> Maintaince
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  <i class="fas fa-sticky-note mr-2"></i> Daily Reports
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
          >
            <h3>Create New User</h3>
          </div>

          <div class="my-4 w-100" id="myChart" width="900" height="380">
            <form [formGroup]="formadduser">
              <div class="form-row">
                <div class="form-group col-md-10">
                  <label for="inputId">ID</label>
                  <input
                    type="text"
                    formControlName="id"
                    class="form-control"
                    id="inputId"
                    placeholder="id"
                    (keyup.enter)="keyID($event)"
                  />
                </div>
                <div class="form-group col-md-10">
                  <label for="inputFName">First Name</label>
                  <input
                    type="text"
                    #inputfname
                    formControlName="firstname"
                    class="form-control"
                    id="inputFName"
                    placeholder="first name"
                    (keyup.enter)="keyFName($event)"
                  />
                </div>
                <div class="form-group col-md-10">
                  <label for="inputLName">Last Name</label>
                  <input
                    type="text"
                    #inputlname
                    formControlName="lastName"
                    class="form-control"
                    id="inputLName"
                    placeholder="last name"
                    (keyup.enter)="keyLName($event)"
                  />
                </div>
                <div class="form-group col-md-10">
                  <label for="inputEmail">E Mail</label>
                  <input
                    type="text"
                    #inputemail
                    formControlName="email"
                    class="form-control"
                    id="inputEmail"
                    placeholder="e mail"
                    (keyup.enter)="keyEmail($event)"
                  />
                </div>
                <div class="form-group col-md-5">
                  <label for="inputAddress">Address</label>
                  <input
                    type="input"
                    #inputaddress
                    formControlName="address"
                    class="form-control"
                    id="inputAddress"
                    placeholder="address"
                    (keyup.enter)="keyAddress($event)"
                  />
                </div>
                <div class="form-group col-md-5">
                  <label for="inputMobile">Mobile</label>
                  <input
                    type="input"
                    #inputmobile
                    formControlName="mobile"
                    class="form-control"
                    id="inputMobile"
                    placeholder="mobile"
                    (keyup.enter)="keyMobile($event)"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-2">
                  <label for="inputState">Gender</label>
                  <select
                    id="inputState"
                    #inputgender
                    formControlName="gender"
                    class="form-control"
                    (keyup.enter)="keygender($event)"
                  >
                    <!-- <option value="" disabled selected>
                      Select your option
                    </option> -->
                    <option *ngFor="let v of values" [value]="v.id">
                      {{ v.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    formControlName="check"
                    type="checkbox"
                    id="gridCheck"
                    #inputcheck
                  />
                  <label class="form-check-label" for="gridCheck">
                    I Agreed
                  </label>
                </div>
              </div>
              <button
                type="submit"
                [disabled]="!formadduser.valid"
                (click)="saveUser()"
                class="btn btn-primary col-md-4"
              >
                Create
              </button>
              <br />
              <br />
              <button type="button" class="btn btn-danger col-md-4">
                Discard
              </button>
            </form>
          </div>

          <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->
          <!-- <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>NIC</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Contact</th>
                </tr>
              </thead>
              <tbody> -->
          <!-- <tr *ngFor="let admin of adminss | async">
                                <td>{{admin.adNIC}}</td>
                                <td>{{admin.adName}}</td>
                                <td>{{admin.adMail}}</td>
                                <td>{{admin.adMobile}}</td> -->
          <!-- <td></td>
                            <td></td>
                            <td></td> -->
          <!-- <td><button class="btn btn-danger">Delete</button> -->
          <!-- <button (click)="updateEmployee(employee.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                                <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Details</button> *ngFor="let admin of admins"-->
          <!--                 
                                    
                                    <td><button class="btn btn-danger mr-1">Delete</button>
                                        <button class="btn btn-info mr-1">Update</button>
                                        <button class="btn btn-info">Details</button>
                                    </td> -->
          <!-- </tr> -->
          <!-- </tbody>
            </table>
          </div> -->
        </main>
      </div>
    </div>
    <!-- </form> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>'
        );
    </script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace();
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: "line",
        data: {
          labels: [
            "Sunday",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
          ],
          datasets: [
            {
              data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
              lineTension: 0,
              backgroundColor: "transparent",
              borderColor: "#007bff",
              borderWidth: 4,
              pointBackgroundColor: "#007bff",
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: false,
                },
              },
            ],
          },
          legend: {
            display: false,
          },
        },
      });
    </script>
  </body>
</html>
