<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico" />

  <title>Dashboard Template for Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/dashboard/" />

  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="https://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css" rel="stylesheet" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet" />
</head>

<style>
  .navbar-custom {
    background-color: blue;
  }
</style>

<body>
  <nav class="navbar navbar-dark fixed-top bg-secondary flex-md-nowrap p-0 shadow navbar-custom">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">SMART Service</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>
  </nav>
  <div class="container-fluid mt-4">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block pointBackgroundColor sidebar bg-dark">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a routerLink="/route-dashboard" routerLinkActive="active" class="nav-link" href="#">
                <i class="fas fa-user-shield mr-2 ml-2 text-white"></i><b class="text-white">Admin</b>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/route-books" routerLinkActive="active" class="nav-link" href="#">
                <i class="fas fa-address-book mr-2 ml-2 text-white"></i><b class="ml-1 text-white">Books</b>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/route-new-rent" routerLinkActive="active" class="nav-link" href="#">
                <i class="fas fa-users mr-2 ml-2 text-white"></i><b class="text-white">Reports</b>
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span class="text-white">Saved reports</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                <b class="text-white">Last Month Out Books</b>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/route-wrong" routerLinkActive="active" class="nav-link" href="#">
                <span data-feather="file-text"></span>
                <b class="text-white"> Last Wrong Shells</b>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/maintaince" routerLinkActive="active" class="nav-link" href="#">
                <span data-feather="file-text"></span>
                <i class="fas fa-edit mr-2 text-white"></i> <b class="text-white">Maintaince</b>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                <i class="fas fa-sticky-note mr-2 text-white"></i> <b class="text-white">Daily Reports</b>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h3>Create New User</h3>
        </div>

        <div class="my-4 w-100" id="myChart" width="900" height="380">
          <form [formGroup]="formadduser">
            <div class="form-row">

              <div class="form-group col-md-10">
                <label for="inputFName">First Name</label>
                <input type="text" #inputfname formControlName="firstname" class="form-control" id="inputFName"
                  placeholder="first name" (keyup.enter)="keyFName()" />
              </div>
              <div class="form-group col-md-10">
                <label for="inputLName">Last Name</label>
                <input type="text" #inputlname formControlName="lastName" class="form-control" id="inputLName"
                  placeholder="last name" (keyup.enter)="keyLName()" />
              </div>
              <div class="form-group col-md-10">
                <label for="inputEmail">E Mail</label>
                <input type="text" #inputemail formControlName="email" class="form-control" id="inputEmail"
                  placeholder="e mail" (keyup.enter)="keyEmail()" />
              </div>
              <div class="form-group col-md-5">
                <label for="inputAddress">Address</label>
                <input type="input" #inputaddress formControlName="address" class="form-control" id="inputAddress"
                  placeholder="address" (keyup.enter)="keyAddress()" />
              </div>
              <div class="form-group col-md-5">
                <label for="inputMobile">Mobile</label>
                <input type="input" #inputmobile formControlName="mobile" class="form-control" id="inputMobile"
                  placeholder="mobile" (keyup.enter)="keyMobile()" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="inputState">Gender</label>
                <select id="inputState" #inputgender formControlName="gender" class="form-control"
                  (keyup.enter)="keygender()">
                  <option *ngFor="let v of values" [value]="v.id">
                    {{ v.name }}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-8">
                <label for="inputId">RFID</label>
                <input type="text" formControlName="id" class="form-control" id="inputId" placeholder="id"
                  (keyup.enter)="keyID()" />
              </div>
            </div>


            <div class="form-row">
              <button for="inputSave" type="submit" #inputsave [disabled]="!formadduser.valid" (click)="saveUser()"
                class="btn btn-primary col-md-4 mr-2">
                Create
              </button>
              <button type="button" class="btn btn-danger col-md-4" (click)="discard()">
                Discard
              </button>
            </div>

          </form>
        </div>

      </main>
    </div>
  </div>
</body>

</html>