<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico" />

  <title>Dashboard Template for Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/dashboard/" />

  <!-- Bootstrap core CSS -->
  <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="https://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css" rel="stylesheet" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet" />
</head>

<style>
  .navbar-custom {
    background-color: blue;
  }
</style>

<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow navbar-custom">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">SMART Service</a>
    <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>
  </nav>

  <!-- <form [formGroup]="formAddAdmin"> -->
  <div class="container-fluid mt-4 ">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block pointBackgroundColor sidebar bg-dark">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a routerLink="/route-dashboard" routerLinkActive="active" class="nav-link" href="#">
                <i class="fas fa-user-shield mr-2 ml-2 text-white"></i><b class="text-white">Admin</b>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/route-books" routerLinkActive="active" class="nav-link" href="#">
                <i class="fas fa-address-book mr-2 ml-2 text-white"></i><b class="ml-1 text-white">Books</b>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/route-new-rent" routerLinkActive="active" class="nav-link" href="#">
                <i class="fas fa-users mr-2 ml-2 text-white"></i><b class="text-white">Reports</b>
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span class="text-white">Saved reports</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                <b class="text-white">Last Month Out Books</b>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                <b class="text-white"> Last Wrong Shells</b>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/maintaince" routerLinkActive="active" class="nav-link" href="#">
                <span data-feather="file-text"></span>
                <i class="fas fa-edit mr-2 text-white"></i> <b class="text-white">Maintaince</b>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                <i class="fas fa-sticky-note mr-2 text-white"></i> <b class="text-white">Daily Reports</b>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h3>Admin Panel</h3>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-outline-secondary"  routerLink="/route-new-users"
              routerLinkActive="active">
                Create New
              </button>
              <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div>
        </div>


        <form [formGroup]="formUsers">
          <div class="container">
            <div class="row">
              <div class="col-md-3  my-5" *ngFor="let users of user">
                <mdb-card>
                  <img src="../../assets/user1.png" alt="Card image cap">
                  <mdb-card-body>
                    <mdb-card-title>
                      <h4>{{users.userfname}}</h4>
                    </mdb-card-title>

                    <mdb-card-text>
                      {{users.usermobile}}
                    </mdb-card-text>
                    <mdb-card-text>
                      {{users.auth}}
                    </mdb-card-text>

                  </mdb-card-body>
                </mdb-card>
              </div>
            </div>
          </div>

        </form>

      </main>




    </div>
  </div>

</body>

</html>